.boton {
  border: 0px;
  /* border: 2px solid; */
  border-radius: 25px;
  /* border-color: orange; */
  /* padding-left: 10px;
  padding-right: 10px; */
  margin-top: 100px;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 20px;
  font-style: oblique;
  color: #333333;
  background: #333333;

  /* position: relative; */
  /* border-top: 1px solid blue; */
  /* border-right: 1px solid blue; */
  /* border-bottom: 1px solid blue; */
  /* border-left: 1px solid blue; */
}

body {
  background: lightskyblue;
  text-align: center;
  /* display: block; */
  
}

